{% if bought_together.product_count > 0 and options.fbt_products_visibility and bought_together.packs_stock? %}
  {% if product.stock > 0 or product.stock_unlimited == true and product.status == 'available' %}
    <div id="fbt-products" class="mb-5">
      <div class="col-12">
        <h2 class="block-header text-center">{% t "Frequently bought together" %}</h2>
      </div>
      <div class="carousel owl-carousel">
        {% for btr_pack in bought_together.packs %}
          {% if btr_pack.stock? == false %} {% continue %} {% endif %}
          <!-- Limit number of packs shown with the option fbt_packs_to_show -->
          {% if num_packs_displayed >= options.fbt_packs_to_show %}{% break %}{% endif %}
          {% assign num_packs_displayed = num_packs_displayed | plus: 1 %}
          <!-- Ids of all products of the pack -->
          {% assign pack_ids = btr_pack.products | map: 'id' %}
          <div class="card mb-3 p-3 item">
            <!-- Product -->
            <form
              action="{{store.add_multiple_to_cart_url}}"
              id="form-add-multiple-{{product.id}}-{{pack_ids | join: '-'}}"
              method="post"
              enctype="multipart/form-data"
            >
              <input type="hidden" name="products[][id]" class="hidden-btr-product-id" value="{{product.id}}">
              <input type="hidden" name="products[][qty]" class="hidden-btr-product-qty" value="1">
              <input type="hidden" name="products[][options]" class="hidden-btr-product-options">
              <!-- Product image -->
              <div class="row mb-3">
                <div class="col-auto">
                  {% if product.images.first != blank %}
                    <img
                      src="{{product.images.first | resize: '250x250'}}"
                      alt="{{product.name}}"
                      width="60"
                      height="60"
                      class="bg-light original-product-image"
                    >
                  {% else %}
                    <img
                      src="//assets.jumpseller.com/public/placeholder/themes/simple/no-image-home.png"
                      alt="{{product.name}}"
                      width="60"
                      height="60"
                      class="bg-light"
                    >
                  {% endif %}
                </div>
                <!-- Product name -->
                <div class="col align-self-center">
                  {% assign prod_names = product.name | replace: "'", "" | escape %}
                  <strong>{{ product.name }}</strong>
                  <div class="small text-muted current-product-options" data-current-product="" {{ product.id }}></div>
                </div>
              </div>
              {% for btr_prod in btr_pack.products %}
                <!-- Current Recommended Product inside the pack -->
                <input type="hidden" name="products[][id]" class="hidden-btr-product-id" value="{{btr_prod.id}}">
                <input type="hidden" name="products[][qty]" class="hidden-btr-product-qty" value="1">
                {% if btr_prod.variant != blank %}
                  {% assign variant_value = btr_prod.variant.values.first %}
                  <input
                    type="hidden"
                    name="products[][options]"
                    class="hidden-btr-product-options"
                    value='{"{{variant_value.option.id}}": "{{variant_value.id}}"}'
                  >
                {% else %}
                  <input type="hidden" name="products[][options]" class="hidden-btr-product-options" value="">
                {% endif %}

                <a href="{{btr_prod.url}}" title="{{btr_prod.name}}">
                  <div class="row mb-3">
                    <div class="col-auto">
                      {% if btr_prod.images.first != blank %}
                        <img
                          src="{{btr_prod.images.first | resize: '250x250'}}"
                          alt="{{btr_prod.name}}"
                          width="60"
                          height="60"
                          class="bg-light"
                        >
                      {% else %}
                        <img
                          src="//assets.jumpseller.com/public/placeholder/themes/simple/no-image-home.png"
                          alt="{{btr_prod.name}}"
                          width="60"
                          height="60"
                          class="bg-light"
                        >
                      {% endif %}
                    </div>
                    <div class="col align-self-center">
                      {% assign prod_names = prod_names | append: "," | append: btr_prod.name | replace: "'", "" | escape %}
                      <strong class="btr-product-name">{{ btr_prod.name }}</strong>
                      {% if btr_prod.variant != blank %}
                        {% for variant_value in btr_prod.variant.values %}
                          <div
                            data-bought-together="{{btr_prod.id}}"
                            data-option="{{variant_value.option.id}}"
                            data-variant="{{variant_value.id}}"
                            class="bought-together-variant small text-muted"
                          >
                            {{ variant_value.option.name }}: {{ variant_value.name }}
                          </div>
                        {% endfor %}
                      {% endif %}
                    </div>
                  </div>
                </a>
              {% endfor %}
              <hr class="my-3 mx-n3">
              <div class="row align-items-center">
                <div class="col-12 col-sm-6">
                  {% t "Buy these items for" %}:
                  {% assign discount_value = 0 %}
                  {% if product.discount > 0 or btr_pack.discount? %}
                    {% assign discount_value = product.discount | plus: btr_pack.pack_discount %}
                    <div class="price-total h4">
                      <span
                        class="font-weight-bold btr-pack-price"
                        style="color: {{options.sale_tag}}!important;"
                        data-price=""
                        {{ btr_pack.pack_price | minus: btr_pack.pack_discount }}
                      >
                        {{ product.price | plus: btr_pack.pack_price | minus: discount_value | price }}
                      </span>
                      <del class="small text-muted btr-pack-discount" data-price="" {{ btr_pack.pack_price }}>
                        {{- product.price | plus: btr_pack.pack_price | price -}}
                      </del>
                    </div>
                  {% else %}
                    <div class="price-total h4 font-weight-bold btr-pack-price" data-price="" {{ btr_pack.pack_price }}>
                      {{ product.price | plus: btr_pack.pack_price | price }}
                    </div>
                  {% endif %}
                </div>
                <div class="col-12 col-sm-6 btr-pack-available {% if product.stock > 0 or product.stock_unlimited == true and product.status == 'available' %}d-inline-block{% else %}d-none{% endif %}">
                  {% if options.display_cart_notification and file_option != true %}
                    <button
                      type="button"
                      onclick="addMultipleToCart(Jumpseller.aggregateProducts([{{product.id}},{{pack_ids | join: ','}}]), {{ prod_names | split: ',' | json | replace: '"', "'" }})"
                      class="btn btn-adc btn-block"
                    >
                      {% t 'Add them to cart' %}
                    </button>
                  {% else %}
                    <input type="submit" class="btn btn-adc btn-block" value="{% t 'Add to cart' %}">
                  {% endif %}
                </div>
                <!-- Out of Stock -->
                <div class="col-12 col-sm-6 btr-pack-out-stock text-center hidden">
                  <span class="product-form_price">{% t "Out of stock" %}</span>
                </div>
                <!-- Not Available -->
                <div class="col-12 col-sm-6 btr-pack-unavailable text-center hidden">
                  <span class="product-form_price">{% t "Not Available" %}</span>
                </div>
              </div>
            </form>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
  <script>
    function addMultipleToCart(products, productNames, options){
      Jumpseller.addMultipleProductsToCart(products, {
        callback: function(data, status) {
          toastr.options = {
            closeButton: true,
            debug: false,
            newestOnTop: false,
            progressBar: true,
            positionClass: 'toast-top-right', //'{{options.cart_notification_position}}',
            preventDuplicates: false,
            onclick: null,
            showDuration: '500',
            hideDuration: '1000',
            timeOut: '5000',
            extendedTimeOut: '1000',
            showEasing: 'swing',
            hideEasing: 'linear',
            showMethod: 'fadeIn',
            hideMethod: 'fadeOut',
          };
          if (data.status == 404) {
            toastr.error(data.responseJSON.message);
          } else {
            // update cart in page
            let finalMessage = products.reduce(function(prevVal, prod, idx) {
              let [product_id, qty, product_options] = prod;
              let msg = qty + ' ' + productNames[idx] + ' ' + (parseInt(qty) == 1 ? singleProductMessage : multiProductMessage)
              return prevVal + msg + '<br>';
            }, '')
            toastr.success(finalMessage + '<br>' + '<a href="'+$("#cart-link").attr('href')+'"> ' + shoppingCartMessage + '</a>')
            let totalQty = products.reduce(function(prevVal, prod) {
              let [product_id, qty, product_options] = prod;
              return prevVal + parseInt(qty)
            }, 0)
            $('.cart-size').text(parseInt($('.cart-size').text()) + totalQty);
          }
        },
      });
    }

    var updateOriginalProductOptions = function() {
      let allOptions = Jumpseller.getAllOptions();
      let productOptions = allOptions[{{ product.id }}];
      let currentOptions = Object.keys(productOptions).reduce(function (filtered, key) {
        if (productOptions[key] != "") filtered[key] = (productOptions[key].length > 50) ? productOptions[key].substr(0, 50) + '&hellip;' : productOptions[key];
        return filtered;
      }, {});

      $('.current-product-options').each(function() {
        let curr = $(this);
        curr.empty();
        const productOptionsNames = Jumpseller.getProductOptionNames(currentOptions)
        // Creates string of the options as "OptionName1: OptionValue1<br>OptionName2: OptionValue2"
        curr.append(Jumpseller.getProductOptionString(productOptionsNames));
      })

      // Adds the variants options to the hidden form so it can be sent when adding bought together products to the cart
      $('.hidden-btr-product-options').each(function(index){
        let id = $('.hidden-btr-product-id')[index].value
        $(this)[0].value = JSON.stringify(allOptions[id])
      })
    }

    var callbackVariant = function(event, productInfo){
      // if productInfo is not emtpy or null
      if(!$.isEmptyObject(productInfo)){
        //update stock
        if((productInfo.stock == 0 && productInfo.stock_unlimited == false) || productInfo.status == 'not-available') {
          $('.btr-pack-out-stock').removeClass('hidden');
          $('.btr-pack-available').addClass('hidden');
          $('.btr-pack-unavailable').addClass('hidden');
        } else {
          $('.btr-pack-available').removeClass('hidden');
          $('.btr-pack-out-stock').addClass('hidden');
          $('.btr-pack-unavailable').addClass('hidden');
        }

        // Update original product image to variant
        let variant_images = { {% for variant in product.variants %}"{{variant.image_id}}": "{{variant.image | resize: '250x250'}}", {% endfor %} };
        let variantImageSrc = variant_images[productInfo['image_id']] || {% if product.images.first != blank %}"{{product.images.first | resize: '250x250'}}"{% else %}"//assets.jumpseller.com/public/placeholder/themes/simple/no-image-home.png"{% endif %};
        document.querySelectorAll('.original-product-image').forEach(imgElem => imgElem.src = variantImageSrc);
      }
      updateOriginalProductOptions();
    }

    $(document).ready(function() {
    	  Jumpseller.productVariantListener('.variants .prod-options', {product: '{{ product | json }}', callback: callbackVariant});
      $('.variants .prod-options:not(select)').each(function() {
        $(this).change(updateOriginalProductOptions);
      });
    });

    // Carousel BTP
    $(document).ready(function() {
      let more_than_1_pack = $('#fbt-products .owl-item').length > 1;
      $('.carousel').owlCarousel({
        loop:false,
        rewind: true,
        margin:15,
        responsiveClass:true,
        navText: ["<i class='fas fa-chevron-left'></i>", "<i class='fas fa-chevron-right'></i>"],
        nav:true,
        autoHeight:true,
        dots: true,
        thumbs: true,
        items:1,
        touchDrag: more_than_1_pack,
        mouseDrag: more_than_1_pack
      })
    });
  </script>
{% endif %}
